footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    p {
      margin: 0 auto;
      margin-bottom: 10px;
      color: #ABABAB;
      font-family: 'Roboto', sans-serif;

      span {
        font-weight: 600;
        color: #747070;
        text-decoration: underline;
      }
    }
  }
}